{% extends 'core/base.html' %}{% block content %}{% load crispy_forms_tags %}
<h3 class="d-flex justify-content-center align-items-center">Inicio de sesión</h3>

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card" style="width: 30rem;" data-bs-theme="dark">
    <div class="card-body">
      <h5 class="card-title text-center">Ingrese sus credenciales</h5>
      
      <form action="{% url 'login' %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        
        {{ form | crispy }}

        <!-- Manually include the CSRF token input field -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
        </div>
      </form>

      <div class="text-center mt-3">
        <a href="{% url 'home' %}" class="card-link">Inicio</a>
        <a href="{% url 'register' %}" class="card-link">Registrarse</a>
      </div>
      
      {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ form.non_field_errors.as_text }}
        </div>
      {% endif %}
      
      {% if form.username.errors %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ form.username.errors.as_text }}
        </div>
      {% endif %}
      
      {% if form.password.errors %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ form.password.errors.as_text }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
