{% extends 'core/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h3>Login</h3>
<br />

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}

  <div class="card mx-auto" style="width: 30rem;" data-bs-theme="dark">
    <div class="card-body">
      <h5 class="card-title">Ingrese sus credenciales</h5>
      
      {{ form | crispy }}

      <!-- Manually include the CSRF token input field -->
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <a href="{% url 'home' %}" class="card-link">Inicio</a>
      <a href="{% url 'register' %}" class="card-link">Registrase</a>

      <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
      
      {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ form.non_field_errors.as_text }}
        </div>
      {% endif %}
      
      {% if form.username.errors %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ form.username.errors.as_text }}
        </div>
      {% endif %}
      
      {% if form.password.errors %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ form.password.errors.as_text }}
        </div>
      {% endif %}
      
      {% if form.password.value|length < 8 %}
        <div class="alert alert-danger mt-3" role="alert">
          La contraseña debe tener al menos 8 caracteres.
        </div>
      {% endif %}
      
      {% if form.password.value|length >= 8 and form.password.value|isdigit %}
        <div class="alert alert-danger mt-3" role="alert">
          La contraseña no puede consistir solo en números.
        </div>
      {% endif %}
      
    </div>
  </div>
</form>

{% endblock %}
