<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>JJ's</title>
</head>
<body style="background-color: black;">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">JJ's</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href={% url 'products' %}>Principal</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li>
                    <a class="nav-link" href="http://127.0.0.1:8000/usuario">Perfil</a>
                  </li>
                  <li>
                      <a class="nav-link" href={% url 'exit' %}>Salir</a>
                  </li>

              {% else %}
                  <li>
                      <a class="nav-link" href={% url 'login' %}>Ingresar</a>
                  </li>

                  <li>
                      <a class="nav-link" href={% url 'register' %}>Registrarse</a>
                  </li>

              {% endif %} 
                    

                </ul>
              </div>
            </div>
          </nav>

    
    {% block content %}
    {% endblock %}
    </div>

</body>
</html>